###################
# auxiliary files #
###################

.DS_Store
.DS_Store?
,_*
.Spotlight-V100
,Trashes
Thumbs.db
ehthumbs.db
*~
*.swp
*.bak
*.log
*.sql
*.sqlite

###################
# compiled source #
###################

*.pyc
*.o
*.class
*.dll
*.aux
*.out
*.toc
*.fls
*.fdb_latexmk

############
# packages #
############

*,7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

################
# general crap #
################
fish_history
fish_read_history
fishd.*
tmp*
yankring_history*
